<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{padrao/layout-sistema-base}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reserva.css}">
</head>

<body>
    <main layout:fragment="conteudo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h4><b>CARTEIRA DE IDENTIFICAÇÃO</b></h4>
                    <hr>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 col-lg-10 offset-lg-1">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#solicitar">Solicitar carteira de identificação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#solicitacoes">Minhas solicitações</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="solicitar" class="container tab-pane active p-4 pb-5"><br>

                            <p class="mb-4">ATENÇÃO: Somente os sócios adimplentes podem solicitar a carteira de identificação.
                                </p>
        
                            <div class="dados mb-4">
                                <p class="mb-2">Verifique seus dados abaixo. Caso haja algum dado incorreto, altere em MEUS
                                    DADOS.</p>
                                <div class="ml-4">
                                    <p class="mb-1"><b>Nome:</b> <span th:text="${socio.nome}"></span></p>
                                    <p class="mb-1"><b>CPF:</b> <span th:text="${socio.cpf}"></span></p>
                                    <p class="mb-1"><b>Data de nascimento:</b> <span th:text="${#dates.format(socio.data_nascimento, 'dd/MM/yyyy')}"></span></p>
                                    <p class="mb-1"><b>RG Militar:</b> <span th:text="${socio.dadosOficial.rg_militar}"></span></p>
                                    <p class="mb-1"><b>Cargo:</b> <span th:text="${socio.dadosOficial.posto}"></span></p>
                                    <p class="mb-1"><b>Órgão:</b> <span th:text="${socio.dadosOficial.corporacao}"></span></p>
                                </div>
                            </div>
        
                            <p class="mb-2">Envie uma foto seguindo as
                                recomendações abaixo.</p>
                            <ul>
                                <li>Escolha uma foto recente e em boa qualidade;</li>
                                <li>Tamanho máximo do arquivo: 3MB;</li>
                                <li>Tipo de arquivo: JPEG ou JPG;</li>
                                <li>Utilize o smartphone na posição horizontal quando for fotografar;</li>
                                <li>Você deve estar de frente e o rosto em primeiro plano;</li>
                                <li>Como em qualquer outro documento, o fundo da foto deve ser neutro e não conter nada além da
                                    imagem da pessoa
                                    fotografada (padrão RG, Carteria de Motorista, Passaporte);
                                </li>
                                <li>O cabelo não deve tampar o rosto (sem chapéu ou óculos, ou outros elementos que escondam
                                    parcialmente ou
                                    totalmente o rosto);
                                </li>
                                <li>O rosto deve estar bem iluminado e sem sombras.</li>
                            </ul>
        
                            <form enctype="multipart/form-data" th:action="@{/sisaocbmma/solicitar-carteira}" th:method="POST" class="mt-4 ml-4">
                                <label>Se você seguiu as recomendações, então faça o upload da foto.</label>
                                <input type="file" class="form-control-file" id="foto" name="foto" accept="image/JPEG, image/JPG" required>
                                <button class="btn btn-block btn-sis float-right mt-4" type="submit">CONCLUIR SOLICITAÇÃO</button>
                            </form>
                            <br>
    
                        </div>
                        <div id="solicitacoes" class="container tab-pane p-4 pb-5"><br>
                            <table class="table table-sm table-striped table-responsive-sm">
                                <thead class="">
                                    <th>Código</th>
                                    <th>Data da solicitação</th>
                                    <th>Foto</th>
                                    <th>Status</th>
                                </thead>
                                <tbody>
                                    <tr th:each="solicitacao,id : ${solicitacoes}">
                                        <td class="align-middle" th:text="${id.count}"></td>
                                        <td class="align-middle" th:text="${#dates.format(solicitacao.data_solicitacao, 'dd MMM yyyy')}"></td>
                                        <td class="align-middle">
                                            <a target="_blank" th:href="@{ ${solicitacao.foto} }">
                                                <img style="max-width: 50px;" class="img-thumbnail" th:src="@{ ${solicitacao.foto} }">
                                            </a>
                                        </td>
                                        <td class="align-middle" th:text="${solicitacao.status}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

</body>

</html>