<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br>
        <div class="container titulo-conteudo">
            <div class="row">
                <div class="col-12">
                    <h4>Diretorias Executivas - 2017 A 2019</h4>
                </div>
            </div>
        </div>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-12">
                            <br>
                            <div class="text-center">
                                <img class="img-fluid " th:src="@{/img/diretorias/presidente.jpg}">
                                <h6 class="mt-2">Tenente Coronel QOCBM Islandy Matões <strong>Amaral</strong></h6>
                                <h6>Diretor Presidente</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="text-center">
                                <img class="img-fluid " th:src="@{/img/diretorias/vice-presidente.jpg}">
                                <h6 class="mt-2">Capitão QOCBM <strong>Jefferson</strong> Ferreira Serra</h6>
                                <h6>Diretor Vice-presidente</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/administrativo.png}">
                            <h6 class="mt-2">Tenente Coronel QOCBM Macêdo</h6>
                            <h6>Diretor Administrativo</h6>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/avatar-gestao.png}">
                            <h6 class="mt-2">Tenente Coronel QOCBM Paulo César</h6>
                            <h6>Diretor Jurídico</h6>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/avatar-gestao.png}">
                            <h6 class="mt-2">Tenente Coronel QOCBM Costa Filho</h6>
                            <h6>Diretor de Esportes</h6>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/social.jpg}">
                            <h6 class="mt-2">Capitão QOABM Lisiane</h6>
                            <h6>Diretor Social</h6>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/tesoureiro.jpg}">
                            <h6 class="mt-2">Tenente Coronel QOCBM Rodrigues</h6>
                            <h6>Diretor Tesoureiro</h6>
                        </div>
                        <div class="col-sm-12 col-lg-4 text-center">
                            <img class="img-fluid " th:src="@{/img/diretorias/avatar-gestao.png}">
                            <h6 class="mt-2">Major QOCBM Thiago</h6>
                            <h6>Diretor Tesoureiro</h6>
                        </div>
                    </div>

                </div>
            </div>
    </main>

</body>

</html>