<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:td="http://www.tdymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/tdymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br>
        <div class="container titulo-conteudo">
            <div class="row">
                <div class="col-12">
                    <h4>Legislação</h4>
                </div>
            </div>
        </div>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            
                            <h5>FEDERAL</h5><br>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle"><span>Constituição Federal</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/cf.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Código Penal Militar</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/CPM.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Código de Processo Penal Militar</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/CPPM.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Código Civil</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/codigo_civil_5ed.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 11.901/2009 - Profissão de Bombeiro Civil</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/L11901.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <br><h5>ESTADUAL</h5><br>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle"><span>Constituição Estadual</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/Constituicao Estadual.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.217/2015 - Acesso a informação</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10217 LEI DE ACESSO A INFORMAÇÃO.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.230/2015 - Organização Básica do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10230 LOB CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.233/2015 - Escalonamento vercial</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10233 ESCALONAMENTO VERTICAL.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.281/2015 - Altera o efetivo do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10281 ALTERA EFETIVO DO CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.351/2015 - Altera o efetivo do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10351 ALTERA EFETIVO DO CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.503/2016 - Altera o efetivo do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10503 ALTERA EFETIVO DO CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.559/2017 - Atos e Processos Administrativos</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10559 LEI DE PROCESSO ADM NO MA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.670/2017 - Altera o Quadro de Oficiais</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10670 ALTERA EFETIVO DO CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.811/2018 - Altera o efetivo do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10811 ALTERA EFETIVO DO CBMMA.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Lei nº 10.939/2018 - Criação e transformação de unidades do CBMMA</span></td>
                                        <td class="text-center"><a th:href="@{/files/legislacao/LEI_10939 TRANSFORMAÇÃO DE UNIDADES CBM.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>

</html>