<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:td="http://www.tdymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/tdymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br>
        <div class="container titulo-conteudo">
            <div class="row">
                <div class="col-12">
                    <h4>Manuais</h4>
                </div>
            </div>
        </div>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle"><span>Instruções Gerais para aplicação do regulamento de continências, honras, sinais de respeito e cerimonial militar das Forças Armadas</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/completo-EB10-IG-12.001.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Normas para instauração de inquérito técnico</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/INQUÉRITO TÉCNICO CBMDF.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Manual de atuação em flagrante delito militar</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/MANUAL DE AUTUAÇÃO EM FLAGRANTE DELITO PMPE.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Manual de Sistema de Comando de Incidentes</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/manual SCI.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Manual de armamento e manuseio seguro de arma de fogo</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/manuseio_seguro_arma_fogo-mar_2012.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Manual de estratégia e tática de combate a incêndios</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/MTB-32.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Regulamento disciplinar do exército</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/rde.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                    <tr>
                                        <td class="align-middle"><span>Regulamento interno e dos serviços gerais do Exército</span></td>
                                        <td class="text-center"><a th:href="@{/files/manual/risg.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                </tbody>
                            </table>

                            
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>

</html>