<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br><br>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-12">
                            
                            <h1>ERRO 403</h1>
                            <span>Você não possui permissão para acessar esta página.</span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
    </main>

</body>

</html>