<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/brasao.ico}">
    
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br><br>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-12">
                            
                            <h1>Acesso restrito</h1>
                            <span>Você não possui permissão para acessar esta página.</span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
    </main>

</body>

</html>