html, body{
    height: 100%;
    margin: 0;
}
.geral{
    min-height: 100%;
    position: relative;
}

.titulo {
    font-family: 'Open Sans', sans-serif;
    background-color: #f43340;
    color: white;
    font-size: .9em;
    text-shadow: 1px 1px 5px #333;
    padding: .5em;
}

.titulo a{
    color: white;
}

.titulo a:hover{
    color:white;
    text-decoration: none;
}

.titulo h4{
    position: relative;
    top: 6px;
}

header{
    background-color: #f43340;
}

.table-header{
    background-color: #f43340 !important;
    color: white;
}

.form-custom:focus{
    border-color: #6495ED !important;
    box-shadow: 0px 0px 0px white !important;
}

.btn-noticias {
    color: #fff;
    background-color: #f43340;
    border-color: #f43340;
    font-size: .9em !important;
}

.btn-noticias:hover {
    background-color: #f43340;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 6px #666;
}

footer a{
    color: #111;
}

footer a:hover {
    color: #111;
    text-decoration: underline;
    cursor: pointer;
}

.nav-custom{
    background-color: #f43340 !important;
}

.position-navbar{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar a{
    color: white !important;
    font-weight: bold;
    font-size: .9em;
}

.navbar li{
    margin-right: 5px;
}

.navbar a:hover, .active{
    background-color: #343d47;
    border-radius: 5px;
}

.dropdown-menu{
    background-color: #343d47 !important;
}

.dropdown-item:hover{
    background-color: #f43340 !important;
}

.col-menu{
    background-color: #f4f5f6;
    min-height: 100vh !important;
    color: #3b3c40;
    font-size: .9em;
}

.col-menu ul{
    list-style: none;
    padding-left: 10px;
}

.col-menu li{
    margin-top: 12px;
}

.col-menu a{
    color: #3b3c40;
    display: block;
}

.col-menu a:hover{
    text-decoration: none;
    color: #f43340;
    border-right: #f43340 solid 6px;
    cursor: pointer;
}

.menu-ativo{
    color: #f43340 !important;
    border-right: #f43340 solid 6px;
}

.row-conteudo{
    min-height: 110vh !important;
    font-size: .9em;
    padding-bottom: 100px;
}

.my-footer{
    width: 100%;
    font-size: .9em;
    color: #444;
    position: absolute;
    bottom: 0;
}

.menu-down{
    padding-top: 10px;
}

.menu-down ul{
    display: none;
}

.logout{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logout a{
    color: white;
    margin-right: 10px;
}

.logout a:hover{
    color: white;
}

@media screen and (max-width: 992px) {
    .row-conteudo{
        height: auto !important;
    }

    .titulo img{
        display: none !important;
    }

    .my-footer{
        position: static;
    }
}

.div-info-system{
    background-color: #f4f5f6;
    color: #3b3c40;
    min-height: 200px;
    padding: 20px;
}

.div-info-system h3, .div-info-system h4 {
    font-size: 1.2em;
}

.aniv {
    padding: .4em;
    background-color: #ffe066;
    border-radius: 10px;
    margin-bottom: 3px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    left: calc(50% - 35px);
}

.foto{
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}

.foto:hover{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}