<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{padrao/layout-sistema-base}">

<head>
    <style>
        .img-table{
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <main layout:fragment="conteudo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h4><b>NOTÍCIAS</b></h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">

                    <!-- MENSAGEM DE SUCESSO -->
                    <div th:replace="padrao/mensagens-alerta :: mensagem-sucesso"></div>
                    <!-- MENSAGEM DE ERRO -->
                    <div th:replace="padrao/mensagens-alerta :: mensagem-erro"></div>

                    <table class="table table-striped">
                        <tr class="table-header">
                            <th>Data da postagem</th>
                            <th>Título</th>
                            <th></th>
                        </tr>
                        <tr th:each="noticia : ${noticias}">
                            <td th:text="${#dates.format(noticia.data_postagem, 'dd/MM/yyyy')} "></td>
                            <td th:text="${noticia.titulo}"></td>
                            <!-- <td><img class="img-table" th:src="@{'data:image/png;base64,'+${noticia.generateBase64Image()}}" alt="foto"></td> -->
                            <td class="text-right">
                                <a th:href="@{/admin/editar-noticia/{id}(id=${noticia.id})}"><button class="btn btn-outline-primary btn-sm">Editar</button></a>
                                <a th:href="@{/admin/excluir-noticia/{id}(id=${noticia.id})}"><button class="btn btn-outline-danger btn-sm">Excluir</button></a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <script>
            $('#noticias').addClass('menu-ativo');            
        </script>
    </main>
</body>

</html>