<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
    <style>
        aside{
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .links-uteis{
            width: 100%;
            display: block;
        }
        aside h6{
            color: white;
            background-color: #f43340;
            padding: .5em;
            font-size: .9em;
            text-align: center;
            font-weight: bold;
        }    
        aside ul{
            list-style: none;
            padding: 0px;
            width: 95%;
        }
        aside ul li{
            padding: .4em;
            background-color: white;
            margin-bottom: .5em;
            font-size: .7em;
            text-transform: uppercase;
            font-weight: bold;
            border: 1px solid #d8dee2;
            border-radius: 5px;
            vertical-align: middle;
        }
        aside ul li:hover{
            color: white;
            background-color: #f43340;
            cursor: pointer;
        }
        aside ul li a:hover{
            color: white !important;
        }
    </style>
</head>

<body>
    <main layout:fragment="conteudo">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-8 offset-2 text-center">
                    <a th:href="@{/planodesaude}"><img class="img-fluid" th:src="@{/img/banner-hapvida.jpg}" alt="banner sul américa"></a>
                </div>
            </div>
        </div>

        <div class="container-fluid div-conteudo mt-3">
            <div class="row">
                <div class="col-lg-8 offset-lg-2" id="noticias">
                    <div class="row">
                        <div class="col-sm-12 col-lg-9" th:object="${principal}">


                            <div class="row">
                                <div class="col-12">
                                    <a th:href="@{/noticia/{id}(id=${principal.id})}" class="float-left mr-2">
                                        <img class="img-fluid img-destaque" th:src="@{'data:image/png;base64,'+${principal.generateBase64Image()}}"
                                            alt="foto">
                                    </a>
                                    <article class="news">
                                        <a th:href="@{/noticia/{id}(id=${principal.id})}">
                                            <h3 th:text="${principal.titulo}" style="font-weight: bold; font-size: 1.7em;"></h3>
                                        </a>
                                        <span th:text="${'Postado em '+#dates.format(principal.data_postagem, 'dd/MM/yyyy')}"></span>
                                        <div th:utext="${principal.noticia}"></div>
                                    </article>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6 sub-article" th:each="noticia : ${ultimasNoticias}">
                                            <div class="clearfix mb-lg-4">
                                                <a th:href="@{/noticia/{id}(id=${noticia.id})}">
                                                    <img class="img-fluid img-mini" th:src="@{'data:image/png;base64,'+${noticia.generateBase64Image()}}">
                                                </a>
                                                <a th:href="@{/noticia/{id}(id=${noticia.id})}">
                                                    <h6 th:text="${noticia.titulo}" style="font-size: 1em;"></h6>
                                                </a>
                                                <span class="ml-2" th:text="${'Postado em '+#dates.format(noticia.data_postagem, 'dd/MM/yyyy')}"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <a th:href="@{/noticias}">
                                        <button class="btn btn-danger btn-noticias mt-4 mb-4" style="font-size: 1em;">VER TODAS AS NOTÍCIAS</button>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3">
                            <aside>
                                <div class="links-uteis">
                                    <h6><i class="fas fa-link"></i> LINKS ÚTEIS</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="http://www.ma.gov.br" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/ma.png}" scale="0">
                                            Governo do Maranhão</a>
                                    </li>
                                    <li>
                                        <a href="http://www.portaldoservidor.ma.gov.br" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/ma.png}" scale="0">
                                            Portal do Servidor</a>
                                    </li>
                                    <li>
                                        <a href="hhttp://www.diariooficial.ma.gov.br/" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/ma.png}" scale="0">
                                            Diário Oficial do Estado</a>
                                    </li>
                                    <li>
                                        <a href="https://pje.tjma.jus.br/pje/ConsultaPublica/listView.seam" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/ma.png}" scale="0">
                                            Processo Judicial Eletrônico</a>
                                    </li>
                                    <li>
                                        <a href="http://cbm.ssp.ma.gov.br" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/cbmma.png}" scale="0">
                                            Corpo de Bombeiros Militar</a>
                                    </li>
                                    <li>
                                        <a href="http://pm.ssp.ma.gov.br" target="_blank" class="d-block">
                                            <img style="max-width:25px" th:src="@{/img/pm.png}"
                                                scale="0">
                                            Polícia Militar</a>
                                    </li>
                                    <li>
                                        <a href="https://www.policiacivil.ma.gov.br" target="_blank" class="d-block">
                                            <img style="max-width:20px" th:src="@{/img/pc.png}" scale="0">
                                            Polícia Civil</a>
                                    </li>
                                    <li>
                                        <a href="https://www.feneme.org.br" target="_blank" class="d-block">
                                            <img style="max-width:20px" th:src="@{/img/feneme.png}" scale="0">
                                            Feneme</a>
                                    </li>
                                </ul>

                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid div-conteudo">
            <div class="row">
                <div class="col-lg-12 parallax">
                    <p>ASSESSORIA JURÍDICA 24 HORAS POR DIA </br>7 DIAS POR SEMANA</p>
                </div>
            </div>
        </div>
        <div class="container mb-4" id="convenios">
            <h2 class="text-center mt-2"><b>CONVÊNIOS DA ASSOCIAÇÃO</b></h2>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Galeria 1 -->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/colegio_educalis.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/sesc.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/divicom.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/valparaiso.png}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Galeria 2 -->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/colegio_adventista.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/amil.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/corretora_champoudry.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/hapvida.png}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Galeria 3 -->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/assego.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/iel.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/pousada_porto_dos_ventos.jpg}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/uni_estacio.png}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Galeria 4 -->
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/allcare.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/senac.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/wizard.png}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="galeria-item">
                                            <div class="card">
                                                <div class="card-body card-convenios">
                                                    <img class="img-fluid" th:src="@{/img/convenios/unicesumar.jpg}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Container Convênios-->

        <div class="container-fluid" id="associe-se">
            <div class="row">
                <div class="col-sm-12 col-lg-8 offset-lg-2 associe-se">
                    <h1>SEJA UM ASSOCIADO</h1>
                    <p>Oficial do CBMMA aproveite as diversas vantagens oferecidas pela Associação.</p>
                    <p>Você poderá usurfruir de todas as instalações da sede social para fazer eventos, contar com
                        assessoria jurídica e aproveitar os descontos em várias empresas conveniadas.</p>
                    <a th:href="@{/associese}">
                        <button type="button" class="btn btn-outline-dark btn-lg mt-4">QUERO SER SÓCIO</button>
                    </a>
                </div>
            </div>
        </div>
    </main>

</body>

</html>