<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">

        <div class="container div-conteudo">
            <div class="row mt-2">
                <div class="col-12" id="conteudo">


                    <div th:if="${msg}">
                        <!-- <div> -->
                        <br><br><br><br>
                        <h1>Parabéns por sua decisão!</h1>
                        <h5>Em breve entraremos em contato.</h5>
                        <br><br><br><br><br><br>
                    </div>

                    <div th:if="${not msg_erro.empty}">
                        <!-- <div> -->
                        <br><br><br><br>
                        <h1>Houve um erro no seu cadastro</h1>
                        <h5 th:utext="${msg_erro}"></h5>
                        <input type='button' class="btn btn-warning" value='Voltar' onclick='history.go(-1)' />
                        <br><br><br><br><br><br>
                    </div>

                </div>
            </div>


    </main>

</body>

</html>