<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/brasao.ico}">
    
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form-associese.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/padrao-sistema.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animation-load.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <style>
        #label-civil{
            position: relative;
            bottom: -4px;
        }
    </style>
</head>

<body>
    <main>
        <div class="container">
            <div class="row mt-2">
                <div class="col-12">
                    <br>
                    <div>
                        <h5>TAXAS COBRADAS</h5>
                        <p>JÓIA: R$ 998,00 <br> MENSALIDADE: R$ 85,00</p>
                        <p>De acordo com o Estatuto, o pagamento da jóia poderá ser feito em até 4 vezes. Neste período
                            o sócio não efetuará o
                            pagamento da mensalidade.</p>
                    </div>
                    <br>

                    <h5 class="text-center">OFICIAL BM/PM, PREENCHA O FORMULÁRIO ABAIXO PARA SOLICITAR SUA ADESÃO A
                        AOCBMMA.</h5><br>

                    <p class="color-obrigatorio">Dados obrigatórios *</p>    
                    <form th:action="@{/cadastrar-novo-socio}" th:method="POST" th:object="${socio}" name="form1"
                        onsubmit="validarForm(this); return false;">
                        <fieldset>
                            <legend>Dados pessoais <span class="color-obrigatorio">*</span></legend>
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control form-custom validacao-input-text" name="nome"
                                        id="nome" autofocus placeholder="Nome completo" th:field="*{nome}">
                                    <div class="invalid-feedback">
                                        Digite seu nome
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom cpf" type="text" name="cpf" placeholder="CPF"
                                        th:field="*{cpf}">
                                    <div class="invalid-feedback">
                                        Digite seu cpf
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input id="data_nascimento" class="form-control form-custom" type="text"
                                        name="data_nascimento" onfocus="(this.type='date')"
                                        th:field="*{data_nascimento}" placeholder="Data de nascimento">
                                    <div class="invalid-feedback">
                                        Digite sua data de nascimento
                                    </div>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <select class="form-control form-custom" th:field="*{tipoSocio}" data-toggle="categoria"
                                    id="categoria">
                                        <option value="" selected hidden>Categoria</option>
                                        <option value="fundador">Sócio fundador</option>
                                        <option value="efetivo">Sócio efetivo</option>
                                        <option value="contribuinte">Sócio contribuinte</option>
                                        <option value="honorário">Sócio honorário</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                        

                        <fieldset id="dados-oficial" class="mt-4">
                            <div class="flex-row mb-2">
                                <legend class="d-inline w-auto">Dados do oficialato <span class="color-obrigatorio">*</span></legend>
                                <div class="d-inline form-check ml-3">
                                    <input type="checkbox" class="form-check-input form-custom-check" id="civil">
                                    <label class="form-check-label" for="civil" id="label-civil">Não sou militar</label>
                                  </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom validacao-input-dados-oficial" type="text"
                                        name="nome_guerra" placeholder="Nome de guerra" id="nome_guerra"
                                        th:field="*{dadosOficial.nome_guerra}">
                                    <div class="invalid-feedback">
                                        Digite seu nome de guerra
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <select id="posto" class="form-control form-custom"
                                        th:field="*{dadosOficial.posto}">
                                        <option value="" selected hidden>Posto</option>
                                        <option value="Cadete">Cadete</option>
                                        <option value="Aspirante a Oficial">Aspirante a Oficial</option>
                                        <option value="2º Tenente">2º Tenente</option>
                                        <option value="1º Tenente">1º Tenente</option>
                                        <option value="Capitão">Capitão</option>
                                        <option value="Major">Major</option>
                                        <option value="Tenente Coronel">Tenente Coronel</option>
                                        <option value="Coronel">Coronel</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecione seu posto
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6" id="quadro">
                                    <h5>Quadro</h5>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="qoc"
                                        th:field="*{dadosOficial.quadro}" value="QOC">
                                        <label class="form-check-label" for="qoc">QOC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="qoa"
                                        th:field="*{dadosOficial.quadro}" value="QOA">
                                        <label class="form-check-label" for="qoa">QOA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="qoe"
                                        th:field="*{dadosOficial.quadro}" value="QOE">
                                        <label class="form-check-label" for="qoe">QOE</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="qos"
                                        th:field="*{dadosOficial.quadro}" value="QOS">
                                        <label class="form-check-label" for="qos">QOS</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0" id="corporacao">
                                    <h5>Corporação</h5>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="cbmma"
                                            th:field="*{dadosOficial.corporacao}" value="CBMMA">
                                        <label class="form-check-label" for="cbmma">CBMMA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="pmma"
                                            th:field="*{dadosOficial.corporacao}" value="PMMA">
                                        <label class="form-check-label" for="pmma">PMMA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="forcas"
                                            th:field="*{dadosOficial.corporacao}" value="Forças Armadas">
                                        <label class="form-check-label" for="forcas">Forças Armadas</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12">
                                    <input class="form-control form-custom validacao-input-dados-oficial" type="text"
                                        name="lotacao" placeholder="Lotação" id="lotacao"
                                        th:field="*{dadosOficial.lotacao}">
                                    <div class="invalid-feedback">
                                        Digite sua lotação
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom validacao-input-dados-oficial" type="text"
                                        name="rg_militar" placeholder="RG Militar" id="rg_militar"
                                        th:field="*{dadosOficial.rg_militar}">
                                    <div class="invalid-feedback">
                                        Digite seu rg militar
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input class="form-control form-custom validacao-input-dados-oficial" type="text"
                                        name="matricula" placeholder="Matrícula" id="matricula"
                                        th:field="*{dadosOficial.matricula}">
                                    <div class="invalid-feedback">
                                        Digite sua matricula
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <fieldset>
                            <legend>Dados bancários <span class="color-obrigatorio">*</span></legend>
                            <div class="row">
                                <div class="col-12">
                                    <select id="banco" class="form-control form-custom"
                                        th:field="*{dadosBancarios.banco}">
                                        <option value="" selected hidden>Banco</option>
                                        <option value="Banco do Brasil S.A.">001 - Banco do Brasil S.A.</option>
                                        <option value="Banco Itaú S.A.">341 - Banco Itaú S.A.</option>
                                        <option value="Banco Santander S.A.">003 - Banco Santander S.A.</option>
                                        <option value="Banco Real S.A.">356 - Banco Real S.A.</option>
                                        <option value="Banco Bradesco S.A.">237 - Banco Bradesco S.A.</option>
                                        <option value="Caixa Econômica Federal">104 - Caixa Econômica Federal</option>
                                        <option value="Banco Rural S.A.">453 - Banco Rural S.A.</option>
                                        <option value="Banco Safra S.A.">422 - Banco Safra S.A.</option>
                                        <option value="Banco Rendimento S.A.">633 - Banco Rendimento S.A.</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Selecione seu banco
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom validacao-input-text" type="text"
                                        name="agencia" placeholder="Agência" id="agencia"
                                        th:field="*{dadosBancarios.agencia}">
                                    <div class="invalid-feedback">
                                        Digite sua agência
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input class="form-control form-custom validacao-input-text" type="text"
                                        name="conta" placeholder="Conta corrente" id="conta_corrente"
                                        th:field="*{dadosBancarios.conta_corrente}">
                                    <div class="invalid-feedback">
                                        Digite sua conta corrente
                                    </div>
                                </div>
                            </div>
                        </fieldset>


                        <br>
                        <fieldset>
                            <legend>Endereço <span class="color-obrigatorio">*</span></legend>
                            <div class="row">
                                <div th:replace="padrao/elementos :: loading"></div>
                                <div class="col-sm-12 col-lg-6">
                                    <input id="cep" class="form-control form-custom cep" type="text" name="cep"
                                        placeholder="CEP" th:field="*{dadosContato.cep}">
                                    <div class="invalid-feedback">
                                        Digite o CEP
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <input id="logradouro" class="form-control form-custom" type="text" name="endereço"
                                        placeholder="Endereço" th:field="*{dadosContato.endereco}" readonly>
                                </div>
                                <div class="col-6">
                                    <input id="numero" class="form-control form-custom" type="text" name="numero"
                                        placeholder="Número" th:field="*{dadosContato.numero}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <input id="complemento" class="form-control form-custom" type="text"
                                        name="complemento" placeholder="Complemento"
                                        th:field="*{dadosContato.complemento}">
                                </div>
                                <div class="col-6">
                                    <input id="bairro" class="form-control form-custom" type="text" name="bairro"
                                        placeholder="Bairro" th:field="*{dadosContato.bairro}" readonly>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input id="cidade" class="form-control form-custom" type="text" name="cidade"
                                        placeholder="Cidade" th:field="*{dadosContato.cidade}" readonly>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input id="uf" class="form-control form-custom" type="text" name="uf"
                                        placeholder="UF" th:field="*{dadosContato.uf}" readonly>
                                </div>
                            </div>
                            <br>


                        </fieldset>
                        <br>

                        <fieldset>
                            <legend>Contato <span class="color-obrigatorio">*</span></legend>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom phone_with_ddd" type="tel" name="whatsapp"
                                        id="whatsapp" placeholder="WhatsApp" th:field="*{dadosContato.whatsapp}">
                                    <div class="invalid-feedback">
                                        Digite seu whatsapp
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input class="form-control form-custom phone_with_ddd" type="tel" name="celular"
                                        id="celular" placeholder="Celular" th:field="*{dadosContato.celular}">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom validacao-input-text" type="email"
                                        name="email" id="email" placeholder="E-mail" th:field="*{dadosContato.email}">
                                    <div class="invalid-feedback">
                                        Digite seu e-mail
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br>

                        <fieldset>
                            <legend class="link">
                                Dependentes
                                <a class="text-muted" href="javascript:addDependente()" data-toggle="popover"
                                    id="popover">
                                    <i class="fas fa-plus-circle"></i>
                                </a>
                                <a class="text-muted" href="javascript:removeDependente()" data-toggle="popover"
                                    id="popover">
                                    <i class="fas fa-minus-circle"></i>
                                </a>
                            </legend>
                            <div id="dependente">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-8">
                                        <input class="form-control form-custom dependente" type="text" name="dependente"
                                            placeholder="Dependente" th:field="*{dependentes[0].nome}">
                                    </div>
                                    <div class="col-sm-12 col-lg-4 mt-4 mt-lg-0">
                                        <select class="form-control form-custom"
                                            th:field="*{dependentes[0].parentesco}">
                                            <option value="" selected hidden>Parentesco</option>
                                            <option value="Cônjuge">Cônjuge</option>
                                            <option value="Filho(a)">Filho(a)</option>
                                            <option value="Pai">Pai</option>
                                            <option value="Mãe">Mãe</option>
                                            <option value="Sogro(a)">Sogro(a)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br>

                        <fieldset>
                            <legend>Acesso <span class="color-obrigatorio">*</span></legend>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <input class="form-control form-custom" type="password" name="senha"
                                        placeholder="Senha" id="senha" th:field="*{senha}">
                                    <div class="invalid-feedback">
                                        A senha não confere.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6 mt-4 mt-lg-0">
                                    <input class="form-control form-custom" type="password" name="conf_senha"
                                        id="conf_senha" placeholder="Confirmar senha">
                                </div>
                            </div>
                        </fieldset>

                        <br>
                        <div class="row mb-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-sis btn-block mt-4 mb-4">ASSOCIAR</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>    

        <!-- Scripts -->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.mask.min.js}"></script>
        <script th:src="@{/js/form-associese.js}"></script>
    </main>
</body>
</html>