<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sistema.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body>
    <header>
            <img class="brasao" src="/img/brasao-logo.png" alt="Brasão AOCBMMA">
            <h4>Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</h4>
    </header>
    <main>
        <div class="menu">
            <a href="#">Atualização cadastral</a>
            <a href="#">2º via de pagamento</a>
            <a href="#">Agendar evento</a>
            <a href="#">Atas de reunião</a>
            <a href="#">Financeiro</a>
            <a href="#">Fale com a administração</a>
        </div>
        <div class="menu">
            <a href="#">Relação dos associados</a>
            <a href="#">Gerar boletos</a>
            <a href="#">Cadastrar novo sócio</a>
            <a href="#">Agenda dos eventos</a>
            <a href="#">Nova notícia</a>
            <a href="#">Novo convênio</a>
        </div>
    </main>
</body>

</html>



