<div th:fragment="loading">
    <div id="animacao">
        <div id="circularG">
            <div id="circularG_1" class="circularG"></div>
            <div id="circularG_2" class="circularG"></div>
            <div id="circularG_3" class="circularG"></div>
            <div id="circularG_4" class="circularG"></div>
            <div id="circularG_5" class="circularG"></div>
            <div id="circularG_6" class="circularG"></div>
            <div id="circularG_7" class="circularG"></div>
            <div id="circularG_8" class="circularG"></div>
        </div>
        <h6>Carregando...</h6>
    </div>
</div>

<div th:fragment="arquivos-processo">
    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="div-info-system">
                <h3><i class="fas fa-file-upload"></i></i> UPLOAD DA DOCUMENTAÇÃO</h3><br>
                <div class="row">
                    <div class="col-sm-12">
                        <p class=m-0>Inserir documento oficial com foto (preferencialmente a identidade funcional), último contracheque e comprovante de endereço.</p>
                        <p class=m-0>Formatos permitidos: PDF, JPG e PNG.</p>
                        <p class=m-0>Máximo permitido: 3 arquivos.</p>
                        <p>Tamanho máximo permitido: 2024 kb (2 mb)</p>
                        <div class="mb-2">
                            <form class="d-inline" name="docs" id="docs" enctype="multipart/form-data" onsubmit="submitFormDocs(this); return false;">
                                <label id="labelfiles" for="file1">
                                    <a class="btn btn-sis text-white d-inline"><i class="fas fa-plus"></i> Escolher</a>
                                </label>
                                <input name="file" id="file1" type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .pdf" hidden>
                                <input name="file" id="file2" type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .pdf" hidden>
                                <input name="file" id="file3" type="file" class="form-control-file" accept=".jpg, .jpeg, .png, .pdf" hidden>
                                <button type="submit" class="btn btn-sm btn-sis d-inline">
                                        <i class="fas fa-upload"></i> Anexar
                                </button>
                            </form>
                            <button class="btn btn-sm btn-sis d-inline" onclick="limparListaDeArquivosASeremEnviados()"><i class="fas fa-ban"></i> Limpar</button>
                            <div class="d-inline" id="text-error">
                            </div>
                            <div class="row mt-2 p-0" id="names_files">
                            </div>
                        </div>

                        <table class="table table-sm table-bordered table-sis table-responsive-sm" id="table-files">
                            <thead>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Tamanho (bytes)</th>
                                <th class="text-center">Excluir</th>
                                <th class="text-center">Download</th>
                            </thead>
                            <tbody>
                                <tr id="nenhum-anexo">
                                    <td colspan="4">Nenhum documento anexado.</td>
                                </tr>
                                <tr th:each="file : ${uploadfiles}" th:id="${file.id}">
                                    <td class="align-middle" th:text="${file.name_file}"></td>
                                    <td class="align-middle" th:text="${file.tamanho}"></td>
                                    <td class="align-middle text-center">
                                        <a class="btn btn-sm btn-danger text-white" 
                                            th:href="'javascript:deletarArquivo('+${file.id}+');'">
                                                <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a class="btn btn-sm btn-dark text-white" th:download="${file.name_file}" 
                                            th:href="${file.path_file}">
                                                <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/upload-doc-processo.js}"></script>
</div>