<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/brasao.ico}">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/padrao-sistema.css}">
    <!-- Estilos externos -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Scripts -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="titulo">
                        <a th:href="@{/sisaocbmma}">
                            <img class="d-inline-block" th:src="@{/img/brasao-sistema.png}" style="width:40px;"
                                alt="brasao">
                            <h4 class="d-inline-block ml-2"><b>AOCBMMA</b></h4>
                        </a>
                    </div>
                </div>
                <div class="col-6 logout">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn" style="color: white;">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid mobile">
        <div class="nav-mobile">
            <a href="javascript:void(0);" class="icon-menu-mobile" onclick="menuMobile()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <div id="mobileLinks">
            </div>
        </div>
    </div>

    <div class="container-fluid geral">
        <div class="row">
            <div class="col-lg-2 col-menu">
                <nav class="menu-sistema">
                    <ul class="">
                        <li class="text-center mb-4 perf">
                            <div class="avatar" th:if="${socio.path_foto_perfil != null}">
                                <img class="user foto" th:src="@{${socio.path_foto_perfil}}">
                            </div>
                            <div class="" th:if="${socio.path_foto_perfil == null}">
                                <img class="user foto-avatar" th:src="@{/img/avatar-user.png}">
                            </div>
                            <p class="mt-2"><b th:text="${socio.dadosOficial.posto + ' '+socio.dadosOficial.nome_guerra}"></b></p>
                            <hr>
                        </li>
                        <li class="">
                            <a id="home" th:href="@{/}"><i class="fas fa-home"></i><span> Home</span></a>
                        </li>
                        <li class="">
                            <a id="meus_dados" th:href="@{/sisaocbmma/meus-dados}"><i
                                    class="far fa-address-card"></i><span> Meus dados</span></a>
                        </li>
                        <li class="">
                            <a id="meus_dependentes" th:href="@{/sisaocbmma/meus-dependentes}"><i
                                    class="fas fa-child"></i><span> Meus dependentes</span></a>
                        </li>
                        <li class="">
                            <a id="alterar_senha" th:href="@{/sisaocbmma/alterar-senha}"><i
                                    class="fas fa-key"></i><span> Alterar senha</span></a>
                        </li>
                        <li class="">
                            <a id="alterar_senha" href="#"><i class="fas fa-fingerprint"></i><span> Solicitar
                                    carteira</span></a>
                        </li>
                        <li class="">
                            <a id="atas" th:href="@{/sisaocbmma/convenios}"><i class="far fa-handshake"></i><span>
                                    Convênios</span></a>
                        </li>
                        <li class="">
                            <a id="atas" href="#"><i class="far fa-file-alt"></i><span> Atas de assembleia</span></a>
                        </li>
                        <li class="">
                            <a id="financeiro" th:href="@{/sisaocbmma/financeiro}"><i class="far fa-money-bill-alt"></i><span>
                                    Financeiro</span></a>
                        </li>
                        <li class="menu-down">
                            <a class="eventos" href="javascript:void(0);">
                                <i class="far fa-calendar-alt"></i><span> Reservas</span>
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <ul class="">
                                <li class=""><a th:href="@{/sisaocbmma/reservar-clube}">Reservar clube</a></li>
                                <li class=""><a th:href="@{/sisaocbmma/minhas-reservas}">Minhas reservas</a></li>
                                <li class=""><a th:href="@{/sisaocbmma/reservas-clube}">Reservas do clube</a></li>
                            </ul>
                        </li>
                    </ul>
                    <hr>
                    <!-- MENU DO ADMINISTRADOR -->
                    <div sec:authorize="hasRole('ADMIN')">
                        <ul>
                            <li class="">
                                <a id="reservas" th:href="@{/admin/reservas-clube}"><i class="far fa-calendar-alt"></i><span> Reservas</span></a>
                            </li>
                            <li class="">
                                <a id="atas" href="#"><i class="far fa-file-alt"></i><span> Atas de assembleia</span></a>
                            </li>
                            <li class="menu-down">
                                <a id="financeiro" href="javascript:void(0);">
                                    <i class="far fa-money-bill-alt"></i><span> Financeiro</span>
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul class="">
                                    <li class=""><a th:href="@{/admin/add-financeiro}">Adicionar documento financeiro</a></li>
                                    <li class=""><a th:href="@{/admin/listar-financeiro}">Todas documentos financeiros</a></li>
                                </ul>
                            </li>
                            <li class="menu-down">
                                <a id="associados" href="javascript:void(0);">
                                    <i class="fas fa-user-friends"></i><span> Associados</span>
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul class="">
                                    <li class=""><a th:href="@{/admin/socios/fundador}">Sócios fundadores</a></li>
                                    <li class=""><a th:href="@{/admin/socios/efetivo}">Sócios efetivos</a></li>
                                    <li class=""><a th:href="@{/admin/socios/contribuinte}">Sócios contribuintes</a></li>
                                    <li class=""><a href="#">Sócios honorários</a></li>
                                </ul>
                            </li>
                            <li class="menu-down">
                                <a id="convenios" href="javascript:void(0);">
                                    <i class="far fa-handshake"></i><span> Convênios</span>
                                    <i class="fas fa-caret-down"></i>
                                </a>
                                <ul class="">
                                    <li class=""><a th:href="@{/admin/add-convenio}">Novo
                                            convênio</a></li>
                                    <li class=""><a th:href="@{/admin/listar-convenios}">Todos
                                            os convênios</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>


            
            <div class="col-sm-12 col-lg-10 row-conteudo">
                <div class="row">
                    <div class="col-12">
                        <br>
                        <main layout:fragment="conteudo">
                        </main>
                    </div>
                </div>      
            </div>  
        </div>
        <div class="row my-footer">
            <div class="col-sm-12 col-lg-10 offset-lg-2">
                <footer>
                    <div class="container-fluid ult-footer">
                        <hr>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <p>&copy 2019 AOCBMMA | todos os direitos reservados.</p>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <span class="float-lg-right">desenvolvido por <a href="http://www.italobrito.com.br"
                                        target="_blank">italobrito.com.br</a></span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>        
    </div>










    <div class="modal fade" id="alterar-foto-perfil" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Selecionar foto do perfil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data"
                        th:action="@{/sisaocbmma/salvar-foto-perfil/{id}(id=${socio.id})}" th:method="POST">
                        <div class="">
                            <input type="file" class="form-control form-custom" id="foto" name="foto"
                                accept="image/*"><br>
                        </div>
                        <button type="submit" class="btn btn-danger btn-noticias btn-block">Salvar
                            foto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sistema.js}"></script>

</body>

</html>