<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/brasao.ico}">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/padrao-sistema.css}">
    <!-- Estilos externos -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Scripts -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="titulo">
                        <img class="d-inline-block" th:src="@{/img/brasao-sistema.png}" alt="brasao">
                        <h2 class="d-inline-block ml-2"><b>AOCBMMA</b></h2>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div class="position-navbar">

                    
                    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-custom">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/sisaocbmma}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Meus dados</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Atas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Financeiro</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Associados
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Novo sócio</a>
                                        <a class="dropdown-item" href="#">Relação dos associados</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Eventos
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Agendar evento</a>
                                        <a class="dropdown-item" href="#">Meus eventos</a>
                                        <a class="dropdown-item" href="#">Eventos do clube</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Notícias
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" th:href="@{/sisaocbmma/add-noticia}">Nova notícia</a>
                                        <a class="dropdown-item" th:href="@{/sisaocbmma/listar-noticias}">Todas as notícias</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Convênios
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" th:href="@{/sisaocbmma/add-convenio}">Novo convênio</a>
                                        <a class="dropdown-item" th:href="@{/sisaocbmma/listar-convenios}">Todos os convênios</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                </div>
            </div>
        </div>


    </header><br>
    <main layout:fragment="conteudo">



    </main>
    <footer>
        <div class="container mt-5 ult-footer">
            <hr>
            <div class="row">
                <div class="col-6">
                    <p>&copy 2019 AOCBMMA | todos os direitos reservados.</p>
                </div>
                <div class="col-6">
                    <span class="float-right">desenvolvido por <a href="http://www.italobrito.com.br" target="__blank">italobrito.com.br</a></span>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>