<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Página da Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão">
    <meta name="keywords" content="associação, cbmma">
    <title>AOCBMMA | Associação dos Oficiais do Corpo de Bombeiros Militar do Maranhão</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/brasao.ico}">
    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/padrao-sistema.css}">
    <!-- Estilos externos -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <!-- Scripts -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
    <header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="titulo">
                        <a th:href="@{/admin}">
                            <img class="d-inline-block" th:src="@{/img/brasao-sistema.png}" style="width:40px;" alt="brasao">
                            <h4 class="d-inline-block ml-2"><b>AOCBMMA</b></h4>
                        </a>
                    </div>
                </div>
                <div class="col-6 logout">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn btn-amber white" style="color: white;">
                            <span>
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Logout</span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid mobile">
        <div class="nav-mobile">
            <a href="javascript:void(0);" class="icon-menu-mobile" onclick="menuMobile()">
                <i class="fa fa-bars fa-2x"></i>
            </a>
            <div id="mobileLinks">
            </div>
        </div>
    </div>

    <div class="container-fluid geral">
        <div class="row">
            <div class="col-lg-2 col-menu">
                <br>
                <nav class="menu-sistema">
                    <ul class="">
                        <li class="">
                            <a id="home" th:href="@{/admin}"><i class="fas fa-home"></i><span> Home</span></a>
                        </li>
                        <li class="">
                            <a id="reservas" th:href="@{/admin/reservas-clube}"><i class="far fa-calendar-alt"></i><span> Reservas</span></a>
                        </li>
                        <li class="">
                            <a id="atas" href="#"><i class="far fa-file-alt"></i><span> Atas de assembleia</span></a>
                        </li>
                        <li class="menu-down">
                            <a id="financeiro" href="javascript:void(0);">
                                <i class="far fa-money-bill-alt"></i><span> Financeiro</span>
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <ul class="">
                                <li class=""><a th:href="@{/admin/add-financeiro}">Adicionar documento financeiro</a></li>
                                <li class=""><a th:href="@{/admin/listar-financeiro}">Todas documentos financeiros</a></li>
                            </ul>
                        </li>
                        <li class="menu-down">
                            <a id="associados" href="javascript:void(0);">
                                <i class="fas fa-user-friends"></i><span> Associados</span>
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <ul class="">
                                <li class=""><a th:href="@{/admin/socios/fundador}">Sócios fundadores</a></li>
                                <li class=""><a th:href="@{/admin/socios/efetivo}">Sócios efetivos</a></li>
                                <li class=""><a th:href="@{/admin/socios/contribuinte}">Sócios contribuintes</a></li>
                                <li class=""><a href="#">Sócios honorários</a></li>
                            </ul>
                        </li>
                        <li class="menu-down">
                            <a id="noticias" href="javascript:void(0);">
                                <i class="far fa-newspaper"></i><span> Notícias</span>
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <ul class="">
                                <li class=""><a th:href="@{/admin/add-noticia}">Nova
                                        notícia</a></li>
                                <li class=""><a th:href="@{/admin/listar-noticias}">Todas
                                        as notícias</a></li>
                            </ul>
                        </li>

                        <li class="menu-down">
                            <a id="convenios" href="javascript:void(0);">
                                <i class="far fa-handshake"></i><span> Convênios</span>
                                <i class="fas fa-caret-down"></i>
                            </a>
                            <ul class="">
                                <li class=""><a th:href="@{/admin/add-convenio}">Novo
                                        convênio</a></li>
                                <li class=""><a th:href="@{/admin/listar-convenios}">Todos
                                        os convênios</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-10 row-conteudo">
                    <div class="row">
                        <div class="col-12">
                            <br>
                            <main layout:fragment="conteudo">
                            </main>
                        </div>
                    </div>      
                </div>  
            </div>
            <div class="row my-footer">
                <div class="col-sm-12 col-lg-10 offset-lg-2">
                    <footer>
                        <div class="container-fluid ult-footer">
                            <hr>
                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <p>&copy 2019 AOCBMMA | todos os direitos reservados.</p>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <span class="float-lg-right">desenvolvido por <a href="http://www.italobrito.com.br"
                                            target="_blank">italobrito.com.br</a></span>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>           
        </div>

    <script th:src="@{/js/sistema.js}"></script>

</body>

</html>