<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{padrao/layout-sistema-base}">

<head>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/blitzer/jquery-ui.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/animation-load.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reserva.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>

<body>
    <main layout:fragment="conteudo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <h4><b>RESERVAR CLUBE</b></h4>
                    <hr>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 col-lg-6">
                    <ol class="ml-5" type="I">
                        <li>Somente os sócios adimplentes podem realizar a reserva do clube.</li>
                        <li>Não é permitido a reserva do clube aos domingos.</li>
                        <li>As datas e horários reservados estão desabilitados no formulário.</li>
                        <li>Período diurno: 08H às 18H.</li>
                        <li>Período noturno
                            <ul>
                                <li>Campo de futebol: 18H às 22H</li>
                                <li>Espaço cajueiro: 18H às 02H</li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12 col-lg-10 offset-lg-1">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#campo">Campo de futebol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cajueiro">Espaço cajueiro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#chale">Chalé</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="campo" class="container tab-pane active p-4 pb-5"><br>

                            <h5>Reserva do Campo de Futebol</h5>
                            <span>Diurno: R$ 100,00 / hora</span><br>
                            <span>Noturno: R$ 150,00 / hora</span>

                            <form th:action="@{/sisaocbmma/salvar-reserva-campo-futebol}" th:method="POST"
                                th:object="${reservaCampo}" name="form-campo"
                                onsubmit="exibirTermo(this); return false;">
                                <div class="row mt-4">
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="data-evento"><i
                                                        class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control form-custom"
                                                placeholder="Data do evento" aria-label="data-evento"
                                                name="data_reserva" th:field="*{data_reserva}"
                                                aria-describedby="data-evento" id="datepicker-campo" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <select id="hora-inicio" class="form-control form-custom" name="hora_inicio"
                                            th:field="*{hora_inicio}">
                                            <option value="" selected hidden>Horário início</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 col-lg-3">
                                        <select id="hora-termino" class="form-control form-custom" name="hora_termino"
                                            th:field="*{hora_termino}">
                                            <option value="" selected hidden>Horário término</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-center">
                                        <button type="submit"
                                            class="btn btn-danger btn-noticias btn-lg">CONFIRMAR</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div id="cajueiro" class="container tab-pane fade p-4 pb-5"><br>
                            <h5>Reserva do Espaço Cajueiro</h5>
                            <span>Diurno: R$ 100,00</span><br>
                            <span>Noturno: R$ 150,00</span><br>
                            <span>Diária: R$ 250,00</span>

                            <form th:action="@{/sisaocbmma/salvar-reserva-espaco-cajueiro}" th:method="POST"
                                th:object="${reservaCajueiro}" name="form-cajueiro"
                                onsubmit="exibirTermo(this); return false;">
                                <div class="row mt-4">
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="data-evento"><i
                                                        class="far fa-calendar-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control form-custom"
                                                th:field="*{data_reserva}" placeholder="Data do evento"
                                                aria-label="data-evento" aria-describedby="data-evento"
                                                id="datepicker-cajueiro" readonly>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-6">
                                        <select id="periodo" class="form-control form-custom" th:field="*{periodo}">
                                            <option value="" selected hidden>Período</option>
                                            <option value="diurno">Diurno</option>
                                            <option value="noturno">Noturno</option>
                                            <option value="diária">Diária</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-12 text-center">
                                        <button type="submit"
                                            class="btn btn-danger btn-noticias btn-lg">CONFIRMAR</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div id="chale" class="container tab-pane fade p-4 pb-5"><br>
                            <h5>Reserva do Chalé</h5>
                            <span>R$ 30,00 / diária</span><br>
                            <span>Horário do check in: 12H</span><br>
                            <span>Horário do check out: 12H</span>

                            <!-- <form th:action="@{/sisaocbmma/pesquisar-chale}"> -->
                            <div class="row mt-4">
                                <div class="col-sm-12 col-lg-4 offset-lg-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="data-evento"><i
                                                    class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control form-custom" placeholder="Check in"
                                            aria-label="data-evento" aria-describedby="data-evento" id="checkin"
                                            readonly>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="data-evento"><i
                                                    class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control form-custom" placeholder="Check out"
                                            aria-label="data-evento" aria-describedby="data-evento" id="checkout"
                                            readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 text-center">
                                    <!-- id do socio -->
                                    <input type="text" hidden>
                                    <button type="button" onclick="pesquisarDisponibilidade()"
                                        class="btn btn-danger btn-noticias btn-lg">PESQUISAR</button>
                                </div>
                            </div>
                            <!-- </form> -->
                            <div id="chales-disponiveis">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="padrao/modal :: aceite-reserva"></div>

            <div id="animacao">
                <div id="circularG">
                    <div id="circularG_1" class="circularG"></div>
                    <div id="circularG_2" class="circularG"></div>
                    <div id="circularG_3" class="circularG"></div>
                    <div id="circularG_4" class="circularG"></div>
                    <div id="circularG_5" class="circularG"></div>
                    <div id="circularG_6" class="circularG"></div>
                    <div id="circularG_7" class="circularG"></div>
                    <div id="circularG_8" class="circularG"></div>
                </div>
                <h6>Carregando...</h6>
            </div>

            <!-- Recebendo dados thymeleaf -->
            <script th:inline="javascript">
                var disableddates = [];

                /*<![CDATA[*/
                var dt = /*[[${datasReservaCajueiro}]]*/ "d";

                let tam = dt.length;
                for (let i = 0; i < tam; i++) {
                    disableddates.push(formatarData(dt[i]));
                }

                function formatarData(dt) {
                    var ano = dt.substr(0, 4);
                    var mesdia = dt.substr(5, 9);
                    var data = mesdia.concat('-').concat(ano);

                    var dataNova = new Date(data);
                    var mes = dataNova.getMonth() + 1;
                    var dat = dataNova.getDate();
                    var ano = dataNova.getFullYear();

                    return mes + '-' + dat + '-' + ano;
                }
                /*]]*/
            </script>

            <script th:src="@{/js/jquery-ui.min.js}"></script>
            <script th:src="@{/js/datepicker-custom.js}"></script>
            <script th:src="@{/js/jquery.mask.min.js}"></script>
            <script th:src="@{/js/reserva.js}"></script>
    </main>

</body>

</html>