<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:td="http://www.tdymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/tdymeleaf/layout"
    layout:decorate="~{padrao/layout-site-base}">

<head>
</head>

<body>
    <main layout:fragment="conteudo">
        <br><br>
        <div class="container titulo-conteudo">
            <div class="row">
                <div class="col-12">
                    <h4>Artigos</h4>
                </div>
            </div>
        </div>
        <div class="container div-conteudo">
            <div class="row">
                <div class="col-10 offset-1" id="conteudo">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-lg-8 offset-lg-2">
                            
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="align-middle"><span>Proposta de projeto de lei sobre verbas indenizatórias</span></td>
                                        <td class="text-center"><a th:href="@{/files/juridico/PROJETO DE LEI-convertido.pdf}" target="__blank"><button class="btn btn-secondary btn-sm"><i class="fas fa-download"></i></button></a></td>
                                    </tr>
                                </tbody>
                            </table>

                            
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>

</html>